.container {
    width: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
}

.text-primary{
    text-align: center;
}

#addUser {
    margin-right: 100px;
    margin-bottom: 50px;
}

#logout {
    margin-bottom: 50px;
}

.editAmountInputs {
    width: 117px;
}

.amountSelects {
    width: 150px;
}