.header{
    margin-top:20%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.header > div {
    margin-top: 50px;
    margin-bottom: 50px;
}
.errorDescription{
    color:red;
    font-weight:bold;
}